<div>
  <div class="d-flex flex-column justify-content-between">
    <h4>Archivos</h4>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">Acciones</button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#" (click)="nuevoArchivo()">Nuevo</a></li>
        <li><a class="dropdown-item" href="#" (click)="mostrarMensaje(true)">Borrar</a></li>
      </ul>
    </div>
    <div>
      @if(this.mostrarCancel==true&&this.selectedFiles.length>1){
          <h4>Esta seguro que desea borrar?</h4>
          <button type="button" class="btn btn-danger" (click)="confirmarBorrado()">Confirmar</button>
          <button type="button" class="btn btn-primary" (click)="mostrarMensaje(false)">Cancelar</button>
      }
      @else if(mostrarNuevo){
        <app-new-file (salidaFile)="recibirFile($event)"></app-new-file>
      }
    </div>
  <hr>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Fecha</th>
          <th scope="col">Dueños</th>
        </tr>
      </thead>
      <tbody>
        @for (file of files; track $index) {
          <tr>
            <th scope="row"><input type="checkbox" (change)="agregarItem(file)" name="checkFile"></th>
            @switch (file.type) {
              @case (tipoArchivo.FILE) {
                @if(file.name.length>10){
                  <td data-toggle="tooltip" data-placement="top" title={{file.name}}><i class="bi bi-file-earmark"></i>{{file.name.substring(0,10)+"..."}}</td>
                }
                @else{
                  <td><i class="bi bi-file-earmark"></i>{{file.name}}</td>
                }
              }
              @case (tipoArchivo.FOLDER) {
                <td><i class="bi bi-folder"></i>{{file.name}}</td>
              }
              @default {
                <td>{{file.name}}</td>
              }
            }
            <td>{{file.creation | date:'longDate'}}</td>
            <td>@for (owner of file.owners; track $index) {
              <img class="owner-img" src="{{owner.avatarUrl}}" alt="Dueño: {{owner.name}}">  
            }</td>
          </tr>
        }
      </tbody>
    </table>  
</div>